body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

 
}
.title{
  position: relative;
  z-index: 999;
  opacity: 1;
  text-align: center;
  font-family: "Bodoniultraflf-lg90.ttf";
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imageList:hover{
  position: relative;
  transform: scale(1.2);
  z-index: 998;
  outline: 3px solid black;
}

.imageList{
  transition:2s;
}

.header {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  padding: 20px 0;         
}

.header img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.paragraph{
  font-family: "Bodoniultraflf-lg90.ttf";
  font-weight: lighter;
  /*font-style: normal;*/
  text-align: center;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  color: rgb(48, 48, 48);
}

.beegHeader{
  font-family: "Bodoniultraflf-lg90.ttf";
  font-weight: bolder;
  /*font-style: normal;*/
  text-align: center;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.beegHeader2{
  font-family: "Bodoniultraflf-lg90.ttf";
  font-weight: bolder;
  /*font-style: normal;*/
  text-align: center;
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
}
.header h1 {
  position: relative;
}


::-webkit-scrollbar {
  background-color: transparent; /* Color of the thumb */
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  /* https://grabient.com/HQBgnAbANMAcCsAWGB2EAmKBaEwCMII2ueKKM6AzNDsImJrRAccJWHq3uubSJbBggIKIA */

  background: linear-gradient(90deg, #07aeea 0.000%, #2bf598 100.000%);
}
/*
Source - https://stackoverflow.com/a
Posted by DigitalDesignDj
Retrieved 2025-12-04, License - CC BY-SA 3.0
*/

.paragraph {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}